@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//### Primary

$Moderate-violet: hsl(263, 55%, 52%);
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);

//### Neutral

$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);
p {
  opacity: 0.7;
}
span {
  opacity: 0.5;
  font-weight: initial;
}

.black {
  background-color: $Very-dark-blackish-blue;
  color: $Light-grayish-blue;
  grid-area: black;
}

.white {
  background-color: $White;
  color: $Very-dark-blackish-blue;
}

.gray {
  background-color: $Very-dark-grayish-blue;
  color: $Light-grayish-blue;
  grid-area: gray;
  height: initial;
}

.purple {
  background: url("images/bg-pattern-quotation.svg") no-repeat;
  background-position: right 1rem top 0;
  background-color: $Moderate-violet;
  color: $Light-gray;
  position: relative;
  grid-area: purple;

  img {
    border: 2px solid hsl(263, 55%, 62%);
  }
  .q {
    border-radius: 0;
    border: none;
    position: absolute;
    top: 0;
    right: 1.3rem;
    z-index: 0;
  }
}
.w1 {
  grid-area: w1;
}
.w2 {
  grid-area: w2;
}
img {
  border-radius: 50%;
}
body {
  font-size: 13px;
  background-color: $Light-grayish-blue;
  padding: 4rem 1.3rem;

  font-family: "Barlow Semi Condensed", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.card {
  padding: 2rem;
  border-radius: 1rem;
  h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
  }
  p {
    font-size: 1rem;
  }
}

.header {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  z-index: 20;
  h4 {
    font-size: 1rem;
    span {
      font-size: 0.8rem;
    }
  }
  img {
    width: 2.5rem;
  }
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
      "purple purple gray w1"
      "w2 black black w1";
    width: 86rem;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
